body {
    background-image: url('https://papers.co/wallpaper/papers.co-ai16-pepper-red-hot-food-art-35-3840x2160-4k-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.sign-in-container, .sign-up-container {
    background-color: #444;
    width: 450px;
    max-width: 90%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    margin-right: 100px;
    transform: translateX(30px);
}

.sign-in-form .form-control,
.sign-up-form .form-control {
    background-color: #333;
    border: 1px solid #999;
    color: white;
    transition: border 0.3s, background-color 0.3s;
}

.sign-in-form .form-control:focus,
.sign-up-form .form-control:focus {
    background-color: #555;
    border-color: #e74c3c;
    color: white;
}

.sign-in-form .btn-danger,
.sign-up-form .btn-danger {
    background-color: #e74c3c;
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.sign-in-form .btn-danger:hover,
.sign-up-form .btn-danger:hover {
    background-color: white;
    color: #e74c3c;
    transition: background-color 0.3s ease;
}

.sign-in-form a,
.sign-up-form a {
    color: #e74c3c;
}

.sign-in-form a:hover,
.sign-up-form a:hover {
    text-decoration: underline;
}

.text-warning {
    color: #ffcc00;
}

@media (max-width: 768px) {
    .sign-in-container,
    .sign-up-container {
        width: 100%;
        padding: 30px;
    }

    .sign-in-form .btn-danger,
    .sign-up-form .btn-danger {
        padding: 12px;
    }
}
